{
  "ecmaFeatures": {
    "blockBindings": true,
    "jsx": true,
    "modules": true,
    "arrowFunctions": true,
    "classes": true
  },

  "env": {
    "browser": false,
    "node": true,
    "mocha": true
  },

  "globals": {
    "fetch": true
  },

  "plugins": [
    "react"
  ],

  "rules": {
    "quotes": [2, "single"],
    "no-undef": 2
  }
}
