{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "blockBindings": true,
    "jsx": true,
    "modules": true,
    "arrowFunctions": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "restParams": true,
    "spread": true,
    "templateStrings": true,
    "experimentalObjectRestSpread": true
  },

  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },

  "globals": {
    "fetch": true
  },

  "plugins": [
    "react"
  ],

  "rules": {
    "quotes": [2, "single"],
    "no-undef": 2
  }
}
